.produto-container {
  width: 91vw;
  margin: 16vh auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 16px;
  background-color: #2e446e;
  padding: 10px;
  border-radius: 10px;
}

.produto-container img {
  background-color: #adc4f0;
  width: 50vw;
  border-radius: 10px;
}

.produto-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: whitesmoke;
}
